<nav class = "sidebar">
   <div class = "logo">RISK HAWK</div>
   
   <ul>
    <li><i class = "fas fa-file-alt"></i>Internal Audit</li>
    <li><i class = "fas fa-folder"></i>UAT Testing</li>
    <li><i class = "fas fa-search"></i>Tntact</li>
    <li><i class = "fas fa-users"></i>Queue</li>
    <li><i class = "fas fa-life-ring"></i>Workflow</li>
    <li><i class = "fas fa-user"></i>Admin</li>
    <li><i class = "fas fa-box"></i>Asset</li>
    <li><i class = "fas fa-users"></i>Parent</li>
    <li><i class = "fas fa-tasks"></i>Opition One</li>
    <li><i class = "fas fa-tasks"></i>Opition Two</li>
    <li><i class = "fas fa-wrench"></i>All Accessories</li>
    <li><i class = "fas fa-cogs"></i>Internal Audit</li>
   </ul>

</nav>